In [3]:
#Michael Owen Assignment 4 Part 2
import numpy as np
import pandas as pd
import math

In [4]:
data = pd.read_excel("knn-csc480-a4.xls",header=0)
data = data.drop("Unnamed: 0",axis=1)
data.replace(' ',np.nan,inplace=True)
data

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,2.0,4.0,NaN,3.0,NaN,NaN,1.0,1.0
1,NaN,5.0,NaN,NaN,3.0,2.0,1.0,NaN
2,3.0,NaN,1.0,2.0,2.0,NaN,NaN,5.0
3,NaN,3.0,NaN,NaN,4.0,1.0,NaN,3.0
4,2.0,4.0,3.0,NaN,NaN,2.0,1.0,NaN
5,5.0,4.0,NaN,3.0,1.0,NaN,3.0,1.0
6,1.0,4.0,5.0,5.0,3.0,NaN,NaN,4.0
7,2.0,2.0,NaN,NaN,4.0,5.0,1.0,NaN
8,NaN,NaN,4.0,2.0,1.0,NaN,NaN,5.0
9,3.0,5.0,1.0,NaN,NaN,NaN,4.0,4.0
10,2.0,NaN,2.0,4.0,NaN,1.0,NaN,2.0
11,5.0,4.0,NaN,2.0,NaN,1.0,1.0,3.0
12,NaN,NaN,2.0,NaN,4.0,NaN,4.0,5.0
13,NaN,1.0,2.0,3.0,4.0,NaN,5.0,5.0
14,NaN,3.0,NaN,NaN,5.0,3.0,NaN,2.0
15,NaN,3.0,2.0,1.0,1.0,NaN,4.0,NaN
16,1.0,5.0,1.0,2.0,NaN,4.0,NaN,4.0
17,5.0,NaN,4.0,NaN,2.0,1.0,3.0,5.0
18,NaN,3.0,NaN,2.0,NaN,4.0,1.0,4.0
19,2.0,5.0,1.0,1.0,5.0,4.0,NaN,4.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4.0,NaN,5.0,3.0,2.0,3.0,NaN,4.0
22,NaN,5.0,2.0,5.0,3.0,NaN,2.0,NaN
23,2.0,1.0,NaN,NaN,2.0,3.0,4.0,1.0
24,3.0,5.0,1.0,1.0,NaN,1.0,NaN,3.0
25,NaN,2.0,3.0,2.0,1.0,NaN,3.0,NaN

In [5]:
training_users = data.loc[0:19]
training_users

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,2.0,4.0,NaN,3.0,NaN,NaN,1.0,1.0
1,NaN,5.0,NaN,NaN,3.0,2.0,1.0,NaN
2,3.0,NaN,1.0,2.0,2.0,NaN,NaN,5.0
3,NaN,3.0,NaN,NaN,4.0,1.0,NaN,3.0
4,2.0,4.0,3.0,NaN,NaN,2.0,1.0,NaN
5,5.0,4.0,NaN,3.0,1.0,NaN,3.0,1.0
6,1.0,4.0,5.0,5.0,3.0,NaN,NaN,4.0
7,2.0,2.0,NaN,NaN,4.0,5.0,1.0,NaN
8,NaN,NaN,4.0,2.0,1.0,NaN,NaN,5.0
9,3.0,5.0,1.0,NaN,NaN,NaN,4.0,4.0
10,2.0,NaN,2.0,4.0,NaN,1.0,NaN,2.0
11,5.0,4.0,NaN,2.0,NaN,1.0,1.0,3.0
12,NaN,NaN,2.0,NaN,4.0,NaN,4.0,5.0
13,NaN,1.0,2.0,3.0,4.0,NaN,5.0,5.0
14,NaN,3.0,NaN,NaN,5.0,3.0,NaN,2.0
15,NaN,3.0,2.0,1.0,1.0,NaN,4.0,NaN
16,1.0,5.0,1.0,2.0,NaN,4.0,NaN,4.0
17,5.0,NaN,4.0,NaN,2.0,1.0,3.0,5.0
18,NaN,3.0,NaN,2.0,NaN,4.0,1.0,4.0
19,2.0,5.0,1.0,1.0,5.0,4.0,NaN,4.0

In [6]:
newUsers = data.loc[21:25]
newUsers

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
21,4.0,NaN,5.0,3.0,2.0,3.0,NaN,4.0
22,NaN,5.0,2.0,5.0,3.0,NaN,2.0,NaN
23,2.0,1.0,NaN,NaN,2.0,3.0,4.0,1.0
24,3.0,5.0,1.0,1.0,NaN,1.0,NaN,3.0
25,NaN,2.0,3.0,2.0,1.0,NaN,3.0,NaN

In [34]:
#target_book is set to None to act as an optional parameter.
#if target_book is supplied, generate single prediction for target user on target_book
def predict(train_d,target,K, target_book = None):
    pos_correlation = False
    #copy=true for dictionary
    df_correlation = pd.DataFrame(train_d,copy=True)
    correlation = []
    for i in range(len(df_correlation)):
        #for every row compute correlation between existing user and target user by finding books they both rated
        x = df_correlation.iloc[i]
        y_rating = []
        x_rating = []
        for k in range(len(target)):
            #add to list if existing and new user both rated the book
            if np.isnan(x[k]) == False and np.isnan(target[k]) == False:
                y_rating.append(target[k])
                x_rating.append(x[k])
        if len(x_rating) >= 2:
            #compute pearson correlation coefficient if number of overlapping ratings is at least 2
            correlation.append(np.corrcoef(x_rating,y_rating)[0,1])
        else:
            correlation.append(np.nan)

    df_correlation['p_correlation'] = correlation
    df_correlation.sort_values(by="p_correlation",ascending=False,inplace=True)
    

    #only considering positive correlation coefficients - sort descending and update K to slice out negative values
    if pos_correlation == False:
        if df_correlation.iloc[K - 1]['p_correlation'] > 0:
            pos_correlation = True
        else:
            K -= 1
    
    y_row = pd.Series(target,copy=True)
    books = df_correlation.columns.drop(labels='p_correlation')
    predictions = pd.Series(y_row, copy=True)

    for book in books:
        num_ = 0
        denom_ = 0
        #traverse the top K rows and calculate predicted rating
        for index, row in df_correlation.iloc[0:K].iterrows():
            if np.isnan(row.loc[book]) == False:
                #sum of correlations
                denom_ += row['p_correlation']
                #sum the product of rating and correlation WA
                num_ += row.loc[book] * row['p_correlation']
        if num_:
            avg_rate = num_/denom_
            predictions.update(pd.Series([avg_rate],index=[book]))
        else:
            #predict r according to avg if no overlap
            average = train_d[book].sum()
            avg = average/len(train_d[book])
            predictions.update(pd.Series([avg], index=[book]))
    #If target_book is supplied as a parameter, compute the single predicted rating of target_user on target_item
    if target_book:
        return predictions.loc[target_book]
    #Otherwise return predictions to to recommend/testing function to generate N recommendation/predictions
    else:    
        return predictions

In [35]:
def recommend(train_d,target,K,N):
    target_recs = pd.Series(target,copy=True)
    pred_ratings = predict(train_d,target_recs,K)
    for index, value in target_recs.items():
        #get N predicted ratings for unrated movies only - drop out movies already rated
        if np.isnan(value) == False:
            pred_ratings[index] = np.nan
    pred_ratings.dropna(inplace=True)
    pred_ratings.sort_values(ascending=False)
    #Get at most N predictions based on Knn prediction, less if the user has fewer unrated items than N
    pred_ratings = pred_ratings[0:min(N,len(pred_ratings))]
    return pred_ratings

In [42]:
#returns MAE, option to print comparison between test pred. and targets, option to print MAE
def testing_r(train_data,test_data,K,print_comparison=False, printMAE = False):
    MAE_num = 0
    MAE_denom = len(test_data)
    average_MAE = []
    MAE = []
    for index, row in test_data.iterrows():
        if print_comparison == True:
            print("\nUser: NU{}".format(index-20))
        pred_r = predict(train_data,row,K)
        for i, prediction in pred_r.items():
            if np.isnan(row.loc[i]) == False:
                if print_comparison == True:
                    print("Book: {},  Prediction: {},  Actual: {}".format(i,prediction,row.loc[i]))
                #calculate diff between prediction and actual rating - take absolute value
                r_diff = prediction - row.loc[i]
                #print(prediction)
                MAE_num += abs(r_diff)
               
        #compute MAE of instance and append to list of all MAE's of test data
        #computer total average MAE on test data
        #average_MAE.append(MAE)
    if printMAE:
        print("MAE = {}".format(np.sum(MAE)/len(test_data)))
    total_avg_MAE = np.mean(MAE)
    return total_avg_MAE

### Predicting rating for a single target user and target book

In [43]:
user = 0
target_user = data.iloc[user]
target_user.replace(' ',np.nan,inplace=True)
target_book = 'THE WORLD IS FLAT'
K = 3
#Predicted rating for a specific user (first user) given a spec target book THE WORLD IS FLAT

predicted_rating = predict(training_users,target_user,K, target_book)
print("\nPredicted rating for: {} = {}".format(target_book,predicted_rating))

Predicted rating for: THE WORLD IS FLAT = 1.4

### Top N recommendations for target user using K = 3

In [44]:
K = 3
N = 3
print(recommend(training_users,target_user,K,N))
#Predictions for user0 with N = 3 and K = 3

THE WORLD IS FLAT    1.4
THE TAKING           4.0
THE KITE RUNNER      2.5
Name: 0, dtype: float64

### Testing on each of the 5 NU's (our test set) with k = 3 and calculating MAE 
#### (MAE = 1.81357 - displayed at bottom of below output)

In [45]:
print("K = 3:")
print(testing_r(training_users,newUsers,K, True,True))

K = 3:

User: NU1
Book: TRUE BELIEVER,  Prediction: 2.0,  Actual: 4.0
Book: THE WORLD IS FLAT,  Prediction: 2.9637584795770553,  Actual: 5.0
Book: MY LIFE SO FAR,  Prediction: 1.4731289918685224,  Actual: 3.0
Book: THE TAKING,  Prediction: 1.0,  Actual: 2.0
Book: THE KITE RUNNER,  Prediction: 2.0,  Actual: 3.0
Book: HARRY POTTER,  Prediction: 5.0,  Actual: 4.0

User: NU2
Book: THE DA VINCI CODE,  Prediction: 4.50961894323342,  Actual: 5.0
Book: THE WORLD IS FLAT,  Prediction: 2.0,  Actual: 2.0
Book: MY LIFE SO FAR,  Prediction: 3.5141622964513646,  Actual: 5.0
Book: THE TAKING,  Prediction: 3.0,  Actual: 3.0
Book: RUNNY BABBIT,  Prediction: 1.0,  Actual: 2.0

User: NU3
Book: TRUE BELIEVER,  Prediction: 1.65,  Actual: 2.0
Book: THE DA VINCI CODE,  Prediction: 2.2587952834736718,  Actual: 1.0
Book: THE TAKING,  Prediction: 3.1412088127580406,  Actual: 2.0
Book: THE KITE RUNNER,  Prediction: 3.0,  Actual: 3.0
Book: RUNNY BABBIT,  Prediction: 4.499027233672085,  Actual: 4.0
Book: HARRY POTTER,  Prediction: 3.7705265230387126,  Actual: 1.0

User: NU4
Book: TRUE BELIEVER,  Prediction: 3.0000000000000004,  Actual: 3.0
Book: THE DA VINCI CODE,  Prediction: 5.0,  Actual: 5.0
Book: THE WORLD IS FLAT,  Prediction: 1.5111996462123258,  Actual: 1.0
Book: MY LIFE SO FAR,  Prediction: 1.5,  Actual: 1.0
Book: THE KITE RUNNER,  Prediction: 2.0,  Actual: 1.0
Book: HARRY POTTER,  Prediction: 4.511199646212326,  Actual: 3.0

User: NU5
Book: THE DA VINCI CODE,  Prediction: 4.0,  Actual: 2.0
Book: THE WORLD IS FLAT,  Prediction: 4.31575832885005,  Actual: 3.0
Book: MY LIFE SO FAR,  Prediction: 3.3943927310598405,  Actual: 2.0
Book: THE TAKING,  Prediction: 1.9521707564702853,  Actual: 1.0
Book: RUNNY BABBIT,  Prediction: 3.0,  Actual: 3.0
MAE = 5.348722050123395
0.9551289375220348

### Finding best K and then generating predictions for books unrated by NU1 and NU2 using best value of K

In [46]:
MAE_vals = []
print("Finding K with minimum MAE:")
#Set parameter 'printMAE = True' to see progression of MAE values corresponding to values of K = 1-19
for k_val in range(1,len(training_users)-1):
    MAE_vals.append(testing_r(training_users,newUsers,k_val,print_comparison = False, printMAE=True))

books = data.columns
#finding the K with the minimum MAE value
min_k_mae = MAE_vals.index(min(MAE_vals)) + 1
print("K = {} with the minimum MAE".format(min_k_mae))
print("\nPredicted ratings for NU1 with best K:\n{}\n".format(recommend(training_users,newUsers.iloc[0], len(books),min_k_mae)))
print("Predicted ratings for NU2 with best K:\n{}\n".format(recommend(training_users,newUsers.iloc[1], len(books),min_k_mae)))

Finding K with minimum MAE:
MAE = 6.709999999999999
MAE = 5.537692363049251
MAE = 5.348722050123395
MAE = 5.411389022011048
MAE = 5.144867968161279
MAE = 6.80813868464661
MAE = 8.666314317900376
MAE = 8.204045586767254
MAE = 5.4592554832156654
MAE = 19.256379374112036
MAE = 21.48887447822505
MAE = 16.64909817075841
MAE = 222.04664269745723
MAE = 221.53386130129428
MAE = 16.459233121610993
MAE = 11.422596747327393
MAE = 13.763867308133229
MAE = 25.14199054436516
K = 5 with the minimum MAE

Predicted ratings for NU1 with best K:
THE DA VINCI CODE    3.616519
RUNNY BABBIT         2.193299
Name: 21, dtype: float64

Predicted ratings for NU2 with best K:
TRUE BELIEVER      2.474991
THE KITE RUNNER    2.269703
HARRY POTTER       3.036170
Name: 22, dtype: float64

### Top 3 Recommendations for U2,U5,U13,U20 with K = 4

In [33]:
N = 3
K = 4
print("U2 top 3 recs (K=4):\n{}\n".format(recommend(training_users,training_users.iloc[1],K,N)))
print("----------------------------")
print("U5 top 3 recs (K=4):\n{}\n".format(recommend(training_users,training_users.iloc[4],K,N)))
print("----------------------------")
print("U13 top 3 recs (K=4):\n{}\n".format(recommend(training_users,training_users.iloc[12],K,N)))
print("----------------------------")
print("U20 top 3 recs (K=4):\n{}\n".format(recommend(training_users,training_users.iloc[19],K,N)))

U2 top 3 recs (K=4):
TRUE BELIEVER        1.333333
THE WORLD IS FLAT    3.000000
MY LIFE SO FAR       3.333333
Name: 1, dtype: float64

----------------------------
U5 top 3 recs (K=4):
MY LIFE SO FAR    3.000000
THE TAKING        3.501034
HARRY POTTER      2.000000
Name: 4, dtype: float64

----------------------------
U13 top 3 recs (K=4):
TRUE BELIEVER        3.0
THE DA VINCI CODE    4.0
MY LIFE SO FAR       2.0
Name: 12, dtype: float64

----------------------------
U20 top 3 recs (K=4):
RUNNY BABBIT    4.0
Name: 19, dtype: float64